
<h2>Şifremi untum</h2>
<hr>
<form asp-action="ForgotPassword" method="post">
    
  <div class="mb-3">
    <label for="Email"></label>
    <input type="email" name="Email" class="form-control"></input>
  </div>

  <button  type="submit" class="btn btn-primary">Gönderr</button>

</form>
